html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: inline-block;
  text-align: center;
}

p {
  font-size: 1rem;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.topnav {
  overflow: hidden;
  background-color: #121869d8;
  color: rgb(250, 248, 248);
  font-size: 1rem;
  padding: 10px;
}
/*map*/
#googleMap {
  width: 75%;
  height: 400px;
  margin: 10 auto;
  align-content: center;
  color: #e3e3e6;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: Arial, sans-serif;
  height: 100%;
  min-height: 256px;
  min-width: 360px;
  padding-top: 1px;
}

/*output box*/
#output {
  text-align:right;
  font-size: 2em;
  margin: 20px auto;
}

#mode {
  color: rgb(45, 3, 49);
}


#authentication-bar{
  background-color:mintcream;
  padding-top: 10px;
  padding-bottom: 10px;
}

#user-details{
  color: cadetblue;
}

.content {
  padding: 10px;
}

.card {
  background-color: rgba(181, 240, 186, 0.301);
  box-shadow: 2px 2px 12px 1px #faac03f3;
  padding: 10%;
}

.cards {
  max-width: 635px;
  padding: 1rem;
  margin: 10 auto;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

#reading {
  font-size: 2rem;
}

button {
  background-color: #010a115b;
  color: rgba(10, 110, 197, 0.767);
  padding: 14px 200px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 1%;
}
button:hover {
  opacity: 0.8;
}

.form-elements-container{
  padding: 16px;
  width: 250px;
  margin: 0 auto;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid rgb(14, 11, 151);
  box-sizing: border-box;
}


